# Core Libraries
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.21.0

# Machine Learning
scikit-learn==1.4.2

# Utility Libraries
jupyterlab==4.2.1  # Optional but useful for notebooks
notebook==7.2.0
